@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
    background-image: url(bg.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
}
#container{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(238, 201, 210);
    max-width: 800px;
    width: 80%;
    border-radius: 8px;
    height: 500px;
    text-align: center;
}
h1{
    color: rgb(129, 2, 53);
}
.option{
    margin-left: -22%;
}
.option input, label{
    display: inline-block;
    width: 10px;
    white-space: nowrap;
}
p{
    color: rgb(129, 2, 53);
}
label{
    color: rgb(129, 2, 53);
}
#btn{
    margin-left: -5%;
    display: inline-block;
}
button{
    width: 100px;
    white-space: nowrap;
    height: 30px;
    background-color: rgb(129, 2, 53);
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
}
button:hover{
    background-color: rgb(184, 80, 137);
}




